html
{
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	height: 100%;
}

body
{
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	height: 100%;
	font: 15px Calibri, sans-serif;
}

input, select
{
	width: 100%;
}

input[type=color]
{
	padding: 0;
}

#collisionsbutton
{
	position: absolute;
}

.button
{
	display: inline-block;
	cursor: pointer;
	margin-right: 5px;
}

.button:hover
{
	background: #eee;
}

.uiContainer, #popupContent
{
	z-index: 999;
	position: relative;
	padding: 7px;
	background: white;
	border: 2px solid black;
	border-radius: 4px;
}

.toolbar
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
}

.collisionTable
{
	border-collapse: collapse;
	margin: auto;
}

.collisionTable td
{
	border: 1px dashed #aaa;
	white-space: nowrap;
}

.collisionTable tr:first-child td > div
{
	transform:
		rotate(-45deg);
	width: 20px;
}

.collisionTable tr td:first-child, .collisionTable tr:first-child td
{
	font-weight: bold;
	padding: 3px;
	border: none;
	width: 20px;
	height: 20px;
}

td.highlight
{
	background: #aaa;
}

#popupOverlay
{
	position: fixed;
		top: 0;
		left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}

#popupContent
{
	z-index: 1001;
	cursor: default;
	position: relative;
	width: 50%;
	margin: auto;
	margin-top: 3em;
	min-height: 600px;
	min-width: 600px;
}
