@charset "UTF-8"

$highlight-color: #999
$light-color: #eee
$basic-color: #ddd
$background-color: #fff
$text-color: #000

$font-size: 12px

.ui
  box-sizing: border-box


body, html
  font: $font-size sans-serif
  overflow: hidden
  color: $text-color
  position: relative
  width: 100%
  height: 100%
  margin: 0
  padding: 0


.ui.radioGroup
  list-style-type: none
  display: inline-block
  margin: 0
  padding: 0

  input.ui[type=radio]
    display: none

  input.ui[type=radio]:checked+label, .ui.button:not(.disabled):active
    background: $basic-color


.ui.button, select.ui, input.ui
  border: 1px solid $basic-color
  padding: 0.5em
  font-size: $font-size - 1px
  cursor: pointer
  border-radius: 3px
  margin: 0 0.25em
  display: inline-block
  background: $background-color
  font-weight: normal
  color: $text-color

  &:not(.disabled):hover
    border-color: $highlight-color

  img
    height: 10px


input.ui[type=color]
  padding: 0


input.ui[type=text], input.ui[type=number]
  cursor: text


.ui.disabled
  color: $highlight-color
  cursor: default


input[type=checkbox].ui
  display: none

  &+label
    position: relative
    top: 3px
    margin-left: 1em
    width: 15px
    height: 15px

  &:checked+label:after
    content: "✖"
    position: absolute
    bottom: -1px
    left: 2px


.ui.break
  width: 1px
  height: 1em
  display: inline-block
  background: #ddd
  margin: 0 0.5em


.ui.panel
  position: relative


.ui.content 
  float: left
  height: 100%
  background: $light-color


.ui.sidebar
  float: left
  background: $background-color
  height: 100%
  position: absolute
  right: 0

  .content
    box-sizing: content-box
    height: 100%
    position: relative
    padding: 1em
    overflow-y: auto


.ui.toolbar
  width: 100%
  min-height: 35px
  background: white
  padding: 0.3em
  font-size: 11px


.ui.resizer
  height: 100%
  width: 7px
  border-left: 3px solid $basic-color
  position: absolute
  top: 0
  left: 0
  cursor: ew-resize

  &:hover
    border-left-color: darken($basic-color, 10%)

  &.resizing
    border-left-color: darken($basic-color, 25%)