@charset "UTF-8";
@import "variables";
@import "ui";

body, html {
  font: $fontSize "Amiko", sans-serif;
  overflow: hidden;
  color: $textColor;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.ui.sidebar input, .ui.sidebar select {
  width: 100%;
}

.entityList {
  background: $lightColor;
  border-radius: 3px;
  padding: 3px;

  .layer {
    background: $backgroundColor;
    border-radius: 3px;
    padding: 3px;
    margin-bottom: 3px;

    .entity {
      background: $lightColor;
      border-radius: 3px;
      padding: 3px;
      margin-bottom: 3px;
      cursor: pointer;
      color: $highlightColor;
      display: flex;
      justify-content: space-between;
      align-items: center;
      //border: 1px solid transparent;

      .id {
        font-weight: bold;
        color: $textColor;
      }

      .entity-color {
        width: 10px;
        height: 10px;
        display: inline-block;
      }

      &.selected {
        background: $basicColor;
      }
    }

  }
}

#popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  #popupContent {
    cursor: default;
    z-index: 1001;
    position: relative;
    padding: $bigPadding;
    background: white;
    border: 2px solid black;
    border-radius: $smallRadius;
    max-height: 90%;
    overflow-y: auto;
    box-sizing: border-box;

    .collisionTable {
      border-collapse: collapse;

      td {
        border: 1px dashed $basicColor;
        white-space: nowrap;
        text-align: center;
      }

      tr:first-child td > div {
        transform: rotate(-45deg);
        width: 20px;
      }

      tr td:first-child, tr:first-child td {
        font-weight: bold;
        padding: $tinyPadding;
        border: none;
        width: 20px;
        height: 20px;
      }

      .highlight {
        background: $basicColor;
      }
    }

    .one-save {
      margin-bottom: $bigPadding;
      padding: $smallPadding;
      min-width: 500px;
      background: $lightColor;
      border-radius: $bigPadding;
      display: flex;
      justify-content: space-between;

      img {
        width: 150px;
        height: 100px;
        flex-shrink: 1;
      }

      .content {
        flex-grow: 1;
      }
    }
  }
}

@mixin result {
  font-size: 120%;
  font-weight: bold;
  padding: 0.2em 0.4em;
  background: transparent;
  border-radius: 3px;
}

@keyframes fade-success-bg {
  from {
    background: rgba($validColor, 1)
  }
  to {
    background: transparent
  }
}

@keyframes fade-failure-bg {
  from {
    background: rgba($invalidColor, 1)
  }
  to {
    background: transparent
  }
}

.success {
  @include result;

  animation: fade-success-bg 5s;
}

.failure {
  @include result;

  animation: fade-failure-bg 5s;
}

.loading {
  &:before {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(white, 0.8) url('../img/loading.svg') no-repeat center;
    background-size: 80px 80px;
    border-radius: inherit;
    content: " ";
    z-index: 9999999;
  }
}

hr {
  width: 60%;
  height: 1px;
  background-color: black;
  border: none;
  margin: 2*$bigPadding auto;
}

.token .name {
  font-weight: bold;
}

.tokenBuilder {
  margin: $bigPadding 0;
  border-radius: $smallRadius;
  padding: $bigPadding;
  background: $lightColor;

  .token {
    border-radius: $smallRadius;
    display: inline-block;
    padding: 0 $smallPadding;

    &.hover {
      background: $highlightColor;
      box-shadow: 0 0 0 3px $highlightColor;
      color: white;
      cursor: pointer;
    }
  }
}

#tokenChoice {
  z-index: 1500;
  position: absolute;
  background: white;
  border: 1px solid black;
  border-radius: $smallRadius;
  padding: $smallPadding;
  max-height: 400px;
  overflow-y: auto;

  .token {
    position: relative;
    padding: $smallPadding;
    cursor: pointer;

    &:hover {
      background: $lightColor;
    }

    .argument {
      font-size: 90%;
      color: $highlightColor;
    }

    .argument + .name, .name + .argument {
      padding-left: $smallPadding;
    }
  }
}


#shareCode {
  border: none;
  outline: none;
}

.behaviorOverlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .behaviorWrapper {
    flex-grow: 1;
    max-height: 70%;
    overflow-y: auto;

    .behavior {
      padding: 1em;
      margin-bottom: 1em;

      h2 {
        text-align: left;
      }

      .behaviorTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          flex-grow: 1;
        }

        .removeButton {
          margin-left: 2em;
        }
      }
    }
  }
}
#popupContent .bottom {
  padding: 1em 0;
}
