body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.ui.main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
}

.ui {
  box-sizing: border-box;

  &.disabled {
    opacity: 0.4;
    cursor: default;
  }

  &.radioGroup {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;

    input[type=radio] {
      display: none;
    }

    input[type=radio]:checked + label, .button:not(.disabled):active {
      background: $basicColor;
    }
  }

  &.button.active {
    background: $basicColor;
  }

  &.button, select#{&}, input#{&} {
    font-family: "Amiko", sans-serif;
    border: 1px solid $basicColor;
    padding: 0 $smallPadding;
    font-size: $fontSize;
    cursor: pointer;
    border-radius: $smallRadius;
    margin: 0 $tinyPadding;
    display: inline-flex;
    align-items: center;
    height: 26px;
    background: $backgroundColor;
    font-weight: normal;
    color: $textColor;
    outline: none;
    box-shadow: none;

    &.important {
      border-color: $highlightColor;
      font-weight: bold;
      box-shadow: rgba(black, 0.5) 0 0 $tinyPadding;
    }

    &:not(.disabled):hover, &:not(.invalid):focus {
      border-color: $highlightColor;
    }

    &.invalid, &.invalid:hover {
      border-color: $invalidColor;
    }

    img {
      height: 10;
    }
  }

  input[type=color]#{&} {
    padding: 0;
  }

  input[type=text]#{&}, input[type=number]#{&} {
    cursor: text;
  }

  input[type=checkbox]#{&} {
    display: none;

    & + label {
      position: relative;
      top: $smallRadius;
      margin-left: 1em;
      width: 15px;
      height: 15px;
    }

    &:checked + label:after {
      content: "✖";
      position: absolute;
      bottom: -1px;
      left: 2px;
    }
  }

  &.entitySelect {
    display: flex;

    .button {
      margin-right: 0;
    }
  }

  &.range {
    display: inline-flex;

    input {
      margin: 0;

      &[type=number] {
        width: 55px;
        float: right;
      }

      &[type=range] {
        -webkit-appearance: none;
        width: 100%;
        border: none;

        &:focus {
          outline: none;

          &::-webkit-slider-runnable-track {
            background: $basicColor;
          }

          &::-ms-fill-lower {
            background: $basicColor;
          }

          &::-ms-fill-upper {
            background: $basicColor;
          }
        }

        &::-webkit-slider-runnable-track {
          width: 100%;
          height: 2px;
          cursor: pointer;
          background: $basicColor;
          border-radius: $smallRadius;
        }

        &::-webkit-slider-thumb {
          border: 1px solid $highlightColor;
          height: 16px;
          width: 8px;
          border-radius: $smallRadius;
          background: $basicColor;
          cursor: pointer;
          -webkit-appearance: none;
          margin-top: -7.5px;
        }

        &::-moz-range-track {
          width: 100%;
          height: 2px;
          cursor: pointer;
          background: $basicColor;
          border-radius: $smallRadius;
        }

        &::-moz-range-thumb {
          border: 1px solid $highlightColor;
          height: 14px;
          width: 6px;
          border-radius: $smallRadius;
          background: $basicColor;
          cursor: pointer;
        }

        &::-ms-track {
          width: 100%;
          height: 2px;
          cursor: pointer;
          background: transparent;
          border-color: transparent;
          color: transparent;
        }

        &::-ms-fill-lower {
          background: $basicColor;
          border-radius: 6px;
        }

        &::-ms-fill-upper {
          background: $basicColor;
          border-radius: 6px;
        }

        &::-ms-thumb {
          border: 1px solid $highlightColor;
          height: 14px;
          width: 6px;
          margin-top: 2px;
          border-radius: $smallRadius;
          background: $basicColor;
          cursor: pointer;
        }
      }
    }
  }

  &.break {
    width: 1px;
    height: 1em;
    display: inline-block;
    background: #ddd;
    margin: 0 $smallPadding;
  }

  &.panel {
    position: relative;
  }

  &.content {
    flex-grow: 1;
    background: $lightColor;
  }

  &.sidebar {
    background: $backgroundColor;
    flex-shrink: 1;
    width: 250;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(black, 0.5) 0 0 $smallPadding;

    &.inactive {
      //right: -5000;
      max-width: 0;
    }

    .sidebarTop {
      padding: $bigPadding;
      height: 70%;
      overflow-y: auto;
    }

    .sidebarBottom {
      padding: $bigPadding;
      flex-grow: 1;
      overflow-y: auto;
    }

    .resizer-horizontal {
      height: 100%;
      width: 7px;
      border-left: $smallRadius solid $basicColor;
      position: absolute;
      top: 0;
      left: 0;
      cursor: ew-resize;
      z-index: 10;

      &:hover {
        border-left-color: darken($basicColor, 10%);
      }

      &.resizing {
        border-left-color: darken($basicColor, 25%);
      }
    }

    .resizer-vertical {
      width: 100%;
      height: 9px;
      border-top: $smallRadius solid white;
      border-bottom: $smallRadius solid white;
      background: $basicColor;
      cursor: ns-resize;
      z-index: 9;

      &:hover {
        background: darken($basicColor, 10%);
      }

      &.resizing {
        background: darken($basicColor, 25%);
      }
    }
  }

  &.toolbar {
    width: 100%;
    background: white;
    padding: 0.3em;
    font-size: 11px;
    flex-shrink: 1;
    z-index: 20;
    box-shadow: rgba(black, 0.5) 0 0 $smallPadding;

    & > div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }

}

#tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: $smallPadding;
  background: rgba(black, 0.7);
  color: white;
  box-shadow: rgba(black, 0.5) 2px 2px 7px;
  border-radius: $smallRadius;
  opacity: 1;
  animation: fade-in $shortAnimation;
}